body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

.simple-centred {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.margin-container {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 100ch;
    border-style: double;
}

.pref-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.has-selected {
    background-color: buttonface;
    border:3px outset grey;
}

.not-selected-warn {
    border:3px outset red;
}

.actions-div {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

