body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../images/webb-dark.png");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

a {
    color: black;
}

a:hover {
    color: darkred;
}

a:active {
    color: white;
}

header {
    display: flex;
    background-color: gainsboro;
    padding: 1rem;
    gap: 1rem;
}

footer {
    margin-top: auto;
    padding: 1rem;
    background-color: gainsboro;
}

.simple-centred {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.margin-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 100ch;
    border-style: double;
    background-color: gainsboro;
}

.pref-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.has-selected {
    background-color: buttonface;
    border:3px outset grey;
}

.not-selected-warn {
    border:3px outset red;
}

.search-result {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.actions-div {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }