<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  </head>

  <body>
    <div class="margin-container">
      <h1>Game Recommender</h1>
      <p>
        Add some games below, indicate your preference then hit submit to generate
        recommendations!
      </p>
      <div class="pref-container">
          <form class="pref-form" id="pref-form">
          <div id="prefs"></div>
          <div class="actions-div">
            <button type="button" id="add-newpref">+</button>
            <input id="submit-button" type="submit" value="Submit">
            <button type="button" id="clear-all-butt">Clear all</button>
          </div>
          </form>
          <p id="load-msg" class="simple-centred" style="display: none;">Loading...</p>
          <p id="nopref-msg" class="simple-centred" style="display: none;">
            No preferences supplied! Please add a preference.
          </p>
          <ol class="simple-centred" id="rec-list">
          </ol>
      </div>
    </div>
    <script src="{{url_for('static', filename='components/gameField.js')}}"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    
  </body>

</html>