<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  </head>

  <body>
    <div class="margin-container">
      <div class="pref-container">
          <form class="pref-form" id="pref-form">
          </form>
          <button id="add-newpref">+</button>
          <input id="submit-button" type="submit" value="Submit">
          <p id="load-msg" style="visibility: hidden;">Loading...</p>
          <ol id="rec-list">
          </ol>
      </div>
    </div>
    <script src="{{url_for('static', filename='components/gameField.js')}}"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    
  </body>

</html>